{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}
{% block desc %}Gérez efficacement les contenus, utilisateurs et produits de votre plateforme via un tableau de bord complet et intuitif.{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans l'espace administrateur</h1>

    <p>Accès réservé aux administrateurs.</p>
</div>
{% endblock %}
