{% extends 'base.html.twig' %}

{% block title %}Editer un produit{% endblock %}
{% block desc %}Ajoutez facilement de nouveaux produits à notre catalogue. Simplifiez la gestion de vos offres grâce à une interface conviviale{% endblock %}
{% block body %}
    <h1>Editer un produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
