{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}
{% block desc %}Ajoutez facilement de nouveaux produits à notre catalogue. Simplifiez la gestion de vos offres grâce à une interface conviviale.{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
