{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}
{% block desc %}Ajoutez facilement de nouveaux produits à notre catalogue. Simplifiez la gestion de vos offres grâce à une interface conviviale.{% endblock %}

{% block body %}
    {% if is_granted('ROLE_PRODUCTOR') %}
        <h1>Créer un nouveau produit </h1>
    {% endif %}

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {% if is_granted('ROLE_PRODUCTOR') %}
        <button type="submit">Créer le produit</button>
    {% endif %}
{% endblock %}

